* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background (bạn có thể thay ảnh) */
body {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
}

/* Center form */
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box giống ảnh */
.auth-box {
  width: 380px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(6px);
}

.auth-box h2 {
  color: #fff;
  margin-bottom: 25px;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
.auth-box button {
  width: 60%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #e5e7eb;
}

.submit:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(229, 9, 20, 0.6);
}



/* Switch link */
.switch {
  margin-top: 18px;
  color: #d1d5db;
  font-size: 14px;
}

.switch a {
  color: #fff;
  text-decoration: underline;
}

/* backgorud */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#bg {
  position: fixed;
  inset: 0;
  z-index: -1;
}



.login-box {
  position: relative;
  z-index: 1;
}


.logo {
  position: fixed;
  top: 24px;
  left: 32px;
  color: #9ad7ff;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none; /* bỏ gạch chân link */
  cursor: pointer;       /* con trỏ chuột khi hover */
}

.logo:hover {
  color: #66b3ff; /* đổi màu khi hover cho đẹp */
}